.logo {
  height: 2rem;
  margin-top: auto;
  opacity: 85%;
}

.footer {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  background-color: #fff;
  color: #002;
  width: 100%;
  padding: 1.2rem 0;
  margin-top: 2rem;
  border-top: 0.5px solid #eee;
}

.logo-col {
  display: flex;
  gap: 1.2rem;
}
.copyright {
  font-size: 1.4rem;
  color: #002;
  margin-top: auto;
}

@media screen and (max-width: 500px) {
  .logo {
    height: 1.8rem;
  }

  .copyright {
    font-size: 1rem;
    margin-top: auto;
  }
}
